In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('fetch_registry.csv')
df.head()

,id,registry,chain,latestRequestResolutionTime,submitter,tagAddress
0,0x02d90cb7add0898ea4fe01334c422668b40f59988c1c...,addressTags,56,1697253985,NaN,0x3a6d8cA21D1CF76F653A67577FA0D27453350dD8
1,0x09a8648759622b16a927f5b9ccbaf011ed7e471018c9...,addressTags,100,1697678795,NaN,0x9008D19f58AAbD9eD0D60971565AA8510560ab41
2,0x0f5425b7c947767d4e002699e8a3b9031bfa4f1acbca...,addressTags,137,1697678915,NaN,0xC36442b4a4522E871399CD717aBDD847Ab11FE88
3,0x10ebc1f02666661eee5a1d7d688e48a51f32a287688a...,addressTags,56,1697325990,NaN,0x0000000000000000000000000000000000001002
4,0x11f6a324d33778b4c0f678826a00c6d8498a4f5f9d7c...,addressTags,1,1697481020,NaN,0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE

In [5]:
#select target data
df = df[['registry','chain','tagAddress']]
df.head()

      registry  chain                                  tagAddress
0  addressTags     56  0x3a6d8cA21D1CF76F653A67577FA0D27453350dD8
1  addressTags    100  0x9008D19f58AAbD9eD0D60971565AA8510560ab41
2  addressTags    137  0xC36442b4a4522E871399CD717aBDD847Ab11FE88
3  addressTags     56  0x0000000000000000000000000000000000001002
4  addressTags      1  0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE

In [6]:
#check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   registry    166 non-null    object
 1   chain       166 non-null    int64
 2   tagAddress  166 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.0+ KB

In [4]:
df['registry'].value_counts()

registry
domains        69
addressTags    53
tokens         44
Name: count, dtype: int64

In [6]:
df['chain'].value_counts()

chain
1      38
56     37
100    36
137    34
Name: count, dtype: int64

In [7]:
# Find rows with missing values in the "chain" column
missing_chain_rows = df[df['chain'].isna()]

# Display the rows with missing values in the "chain" column
print(missing_chain_rows)

Empty DataFrame
Columns: [registry, chain, tagAddress]
Index: []

In [5]:
#map chainID
conditions = [
    (df['chain'] == 1.0),
    (df['chain'] == 56.0),
    (df['chain'] == 137.0),
    (df['chain'] == 100.0)
]

choices = ['ethereum', 'bsc', 'polygon', 'gnosis']

df['blockchain'] = np.select(conditions, choices, default=None)

In [6]:
#Show pivot table
pivot_table = df.pivot_table(index='registry', columns='blockchain', values='tagAddress', aggfunc='count', fill_value=0, margins=True)
pivot_table

blockchain   bsc  ethereum  gnosis  polygon  All
registry
addressTags   17        10      12       14   53
domains       14        19      18       18   69
tokens         8        11      17        8   44
All           39        40      47       40  166